<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons [routerLink]="['/list']" slot="start">
      <ion-icon
        class="ion-padding-horizontal"
        name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-left">Détail</ion-title>
    <ion-buttons (click)="handleOpenModal()" slot="end">
      <ion-icon
        class="ion-padding-horizontal"
        name="information-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="item-page app-content">
  <ion-grid>
    <ion-row>
      <ion-col
        class="{{ additive?.level | color }} ion-text-center ion-no-padding ion-no-margin item-page-header ion-align-items-center ion-justify-content-center"
        size="12"
      >
        <ion-text class="additive-id ion-justify-content-center ion-align-items-center">
          E{{ additive?.id }}
        </ion-text>
      </ion-col>
      <ion-col class="item-page-inner ion-padding-top" size="12">
        <ion-label class="label ion-text-wrap ion-text-center item-label">{{ additive?.name }}</ion-label>
        <ion-text class="text ion-padding-top ion-text-center item-type">{{ additive?.type }}</ion-text>
        <ion-text color="{{ additive?.level | color }}" class="legend ion-padding-top ion-text-center ion-text-capitalize">
          {{ additive?.level | legend }}
        </ion-text>
      </ion-col>
      <ion-col *ngIf="detail" class="ion-margin-top" size="12">
        <ion-label>Détails :</ion-label>
        <ion-grid>
          <ion-row class="ion-margin-top" lines="none">
            <ion-col size="12">
              <ion-thumbnail class="image-detail">
                <img src="{{ detail?.thumbnail?.source || '/assets/images/placeholder.png' }}" alt="additif">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="12">
              <ion-text>{{ detail?.extract }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal trigger="open-modal" [isOpen]="isModalOpen" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Fermer</ion-button>
          </ion-buttons>
          <ion-title>Légende des couleurs</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="none">
          <ion-item>
            <ion-text color="success">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">acceptable</ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="tertiary">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">à éviter</ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="warning">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">contreversé</ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="danger">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">danger</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
