<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons [routerLink]="['/list']" slot="start">
      <ion-icon
        class="ion-padding-horizontal"
        name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-left">Détail</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        class="ion-padding-horizontal"
        name="information-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="item-page app-content">
  <ion-grid>
    <ion-row>
      <ion-col
        class="{{ additive?.level | color }} ion-text-center ion-no-padding ion-no-margin item-page-header ion-align-items-center ion-justify-content-center"
        size="12"
      >
        <ion-text class="additive-id ion-justify-content-center ion-align-items-center">
          E{{ additive?.id }}
        </ion-text>
      </ion-col>
      <ion-col class="item-page-inner ion-padding-top" size="12">
        <ion-label class="label ion-text-wrap ion-text-center item-label">{{ additive?.name }}</ion-label>
        <ion-text class="text ion-padding-top ion-text-center item-type">{{ additive?.type }}</ion-text>
        <ion-text color="{{ additive?.level | color }}" class="legend ion-padding-top ion-text-center ion-text-capitalize">
          {{ additive?.level | legend }}
        </ion-text>
      </ion-col>
      <ion-col class="ion-margin-top" size="12">
        <ion-label>Détails :</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
