<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title class="ion-text-left">Rechercher</ion-title>
    <ion-buttons (click)="handleOpenModal()" slot="end">
      <ion-icon class="ion-padding-horizontal" name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="search-page app-content">
  <ion-grid>
    <ion-row class="search-inner ion-align-items-center ion-justify-content-center">
      <ion-col size="4" sizeXs="12">
        <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
          <ion-item class="ion-margin-bottom search-input">
            <ion-label class="search-label">E</ion-label>
            <ion-input type="text" formControlName="search"></ion-input>
          </ion-item>
          <ion-button
            [disabled]="!searchForm.valid"
            class="ion-margin-top"
            shape="round"
            expand="block"
            color="primary"
            (click)="submitForm()"
          >
            <ion-icon name="search-outline"></ion-icon>
            <ion-text class="ion-padding-start">rechercher</ion-text>
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal trigger="open-modal" [isOpen]="isModalOpen" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Fermer</ion-button>
          </ion-buttons>
          <ion-title>Légende des couleurs</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="none">
          <ion-item>
            <ion-text color="success">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">acceptable</ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="tertiary">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">à éviter</ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="warning">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">contreversé</ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="danger">
              <ion-icon name="ellipse"></ion-icon>
            </ion-text>
            <ion-text class="ion-text-capitalize ion-text-left ion-padding-start">danger</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
